/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  min-height: 100vh;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* sticky footer */
  font-family: 'Gothic A1', sans-serif;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6875;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* sticky footer */
}

/* Grid styles */
.container {
  max-width: 1230px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.container--fluid {
  max-width: unset;
}
.container--no-padding {
  padding: 0;
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0;
}

.header {
  background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #FFFFFF;
  height: 100vh;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 226px;
}

.logo {
  margin-right: 665px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item + .menu__item {
  margin-left: 15px;
}

.menu__link {
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.header__content {
  margin-bottom: 207px;
  position: relative;
}
.header__content::before {
  content: '';
  position: absolute;
  background: url("../img/picture/phone.png");
  background-repeat: no-repeat;
  width: 652px;
  height: 680px;
  top: -90%;
  right: -5%;
}

.main-title {
  font-size: 80px;
  line-height: 1;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 30px;
  line-height: 44px;
  margin-bottom: 25px;
}

.btn {
  padding: 20px 40px;
  background: #FC0A7E;
  border-radius: 3px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.header__arrow {
  height: 40px;
  width: 9px;
  margin-left: auto;
  margin-right: auto;
}

.ipad {
  padding-top: 100px;
  text-align: center;
  background: #1B1B1B;
}

.ipad__title {
  margin-bottom: 55px;
  max-width: 607px;
  margin-left: auto;
  margin-right: auto;
}

.function {
  padding-top: 80px;
  padding-bottom: 160px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
.card:last-child {
  margin-bottom: 0;
}
.card:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.card:nth-child(even) .card__desc {
  margin-left: 144px;
}
.card .title {
  color: black;
  margin-bottom: 22px;
}

.card__desc {
  width: 306px;
  margin-right: 195px;
}

.benefits {
  padding-bottom: 163px;
}

.benefits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits__card {
  text-align: center;
}

.benefits__card-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.benefits__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 17px;
}

.benefits__card-text {
  font-size: 16px;
  line-height: 30px;
  color: #6B6B6B;
}

.achievements {
  padding-bottom: 160px;
}

.achievements__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.achievements__card {
  text-align: center;
}

.achievements__card-title {
  font-size: 59px;
  line-height: 90px;
  color: #333333;
}

.achievements__card-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.example {
  padding-bottom: 162px;
}

.example__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 160px;
}
.example__card:last-child {
  margin-bottom: 0;
}
.example__card:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.example__card:nth-child(even) .example__card-desc {
  margin-left: 77px;
}
.example__card .title {
  color: black;
  margin-bottom: 22px;
}

.example__card-desc {
  width: 330px;
  margin-right: 82px;
}

.example__card-text {
  font-size: 16px;
  line-height: 30px;
  color: #6B6B6B;
}

.sponsors {
  padding-bottom: 118px;
}

.sponsors__img {
  margin-left: auto;
  margin-right: auto;
}

.comments {
  text-align: center;
  padding-bottom: 200px;
}

.slider-item {
  width: 700px;
  margin: 0 auto;
}

.slider-item__img {
  width: 58px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 67px;
}

.slider-item__text {
  font-size: 24px;
  line-height: 40px;
  color: #6B6B6B;
  margin-bottom: 17px;
}

.slider-item__author-name {
  font-size: 16px;
  line-height: 30px;
  color: #6B6B6B;
  margin-right: 70px;
  position: relative;
}
.slider-item__author-name::before {
  content: '';
  position: absolute;
  background: #D3D3D3;
  height: 1px;
  width: 30px;
  top: 45%;
  left: 125%;
}

.slider-item__author-location {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #6B6B6B;
}

.images img {
  width: 100%;
}

.cta {
  background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
  padding-top: 165px;
  padding-bottom: 156px;
}

.cta__title {
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.cta__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cta__buttons .btn + .btn {
  margin-left: 15px;
}

.get {
  text-align: center;
  background: #1B1B1B;
  padding-top: 129px;
  padding-bottom: 126px;
}

.get__title {
  font-size: 38px;
  line-height: 48px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.get__subtitle {
  font-size: 16px;
  line-height: 30px;
  color: #6B6B6B;
  margin-bottom: 40px;
}

.input__email {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  width: 311px;
  height: 70px;
}

.input__button {
  font-size: 16px;
  line-height: 26px;
  background: #FC0A7E;
  height: 70px;
  width: 154px;
  cursor: pointer;
}

.footer {
  background: #1B1B1B;
  padding-top: 20px;
  padding-bottom: 69px;
}

.footer__img {
  width: 136px;
  height: 104px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__menu-item + .footer__menu-item {
  margin-left: 30px;
}

.footer__menu-link {
  font-family: 'Gothic A1';
  font-size: 11px;
  line-height: 20px;
  color: #6B6B6B;
}

.title {
  font-size: 38px;
  line-height: 48px;
  color: #FFFFFF;
}

.suptitle {
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #A8A8A8;
}
/*# sourceMappingURL=main.css.map */