.get {
    text-align: center;
    background: #1B1B1B;
    padding-top: 129px;
    padding-bottom: 126px;
}
.get__title {
    font-size: 38px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.get__subtitle {
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
    margin-bottom: 40px;
}
.input__email {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    width: 311px;
    height: 70px;
}
.input__button {
    font-size: 16px;
    line-height: 26px;
    background: #FC0A7E;
    height: 70px;
    width: 154px;
    cursor: pointer;
}