.title {
    font-size: 38px;
    line-height: 48px;
    color: #FFFFFF;
}
.suptitle {
    margin-bottom: 30px;

    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
}